{% extends 'base.html.twig' %}
{% import 'components/affixList.html.twig' as affixList %}

{% block body %}
    <h1 class="title">{{ 'homepage.main_title'|trans }}</h1>
    <div class="calendar">
        <a href="#"><i class="fa fa-angle-left arrowToLeft js--switch-left"></i></a>
        <a href="#"><i class="fa fa-angle-right arrowToRight js--switch-right"></i></a>
        <div class="next-affixes">
            <div class="affix-display">
                <h2>{{ 'homepage.this_week'|trans }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{{ 'homepage.next_week'|trans }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
        </div>
        <div class="next-affixes">
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{{ 'homepage.plus_number_week'|trans({'%number%': '2'}) }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{{ 'homepage.plus_number_week'|trans({'%number%': '3'}) }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
        </div>
        <div class="next-affixes">
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{{ 'homepage.plus_number_week'|trans({'%number%': '4'}) }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{{ 'homepage.plus_number_week'|trans({'%number%': '5'}) }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
        </div>
        <div class="next-affixes">
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{{ 'homepage.plus_number_week'|trans({'%number%': '6'}) }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{{ 'homepage.plus_number_week'|trans({'%number%': '7'}) }}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                {{ affixList.display(wowaffixes.currentAffixes) }}
            </div>
        </div>
    </div>
    {% if not hideAlertNightMode %}
        <div class="alert alert-info col-sm-8 col-md-5 mygear">New Night Mode ! Switch to it in the menu ! :)</div>
    {% endif %}
{% endblock %}
