{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">{% trans %}Mythic Affixes (On EU){% endtrans %}</h1>
    <div class="calendar">
        <a href="#"><i class="fa fa-angle-left arrowToLeft js--switch-left"></i></a>
        <a href="#"><i class="fa fa-angle-right arrowToRight js--switch-right"></i></a>
        <div class="next-affixes">
            <div class="affix-display">
                <h2>{% trans %}This Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>{% trans %}Next Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
        </div>
        <div class="next-affixes">
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>+2 {% trans %}Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>+3 {% trans %}Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
        </div>
        <div class="next-affixes">
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>+4 {% trans %}Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>+5 {% trans %}Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
        </div>
        <div class="next-affixes">
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>+6 {% trans %}Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
            {{ wowaffixes.nextWeek() }}
            <div class="affix-display">
                <h2>+7 {% trans %}Week{% endtrans %}</h2>
                <h4>({{ wowaffixes.wednesday().format('d/m/Y') }})</h4>
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.0 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.0 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.1 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.1 }}"></a><br />
                <a href="http://{% trans %}www{% endtrans %}.wowhead.com/affix={{ wowaffixes.currentAffixes.2 }}/" class="affixes affixes-{{ wowaffixes.currentAffixes.2 }}"></a><br />
            </div>
        </div>
    </div>
    <div class="alert alert-info col-sm-8 col-md-5 mygear"><a href="https://mygear.live">MyGear.live</a>: {% trans %}a tool for streamer to show the talents, gears and traits of you and your party members in mythic+ and raids{% endtrans %}.</div>
{% endblock %}